/* PAGE REQUEST A QUOTE */

.request-title{
    text-align: center;
    margin-top: 25px;
    color: #38ADA9;
}

.request-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 42px 12%;
  margin-bottom: 0;
}


.col-rqs input[type=text] {
  width: 410px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.col-rqs label {
  margin-bottom: 10px;
  display: block;
}


/* 
.request-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  margin: 0 -16px;
  box-sizing: border-box;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  justify-content: center;
  display: flex;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
} */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
/* @media (max-width: 800px) {
  .request-container {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
} */
  