
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
}
.header1{
  font-family: "poppins";
  color: #7C7C7C;
  font-size: 13px;
  border-color: #DEDEDE;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.header2{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
#logo{
  display: flex;
  list-style: none;
}
.icon{
  font-family: "poppins";
  font-weight: 700;
  font-size: 28px;
  color: #38ADA9;
  line-height: 1.1;
}
.current a{
  font-weight: 600;
  color: #00aaaa !important;
}
.menu{
  margin-top: 18px;
  display: flex;
  list-style-type: none;
}
.menu a{
  text-decoration: none;
  margin: 10px;
  font-family: "poppins";
  color: #7C7C7C;

}
.menu-desk:hover{
  color: #00aaaa;
}
#quote{
  color: white;
  background-color: #38ADA9;
  border-radius: 35px;
  border: none;
  padding: 10px;
}
.page-title{
  background-color: #38ADA9;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "poppins";
}


.menu .dropdown .dropdown-content a{
  margin: 0;
}
.dropdown button{
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown button{
  background: none;
  border: none;
  color: #38ADA9;
  cursor: pointer;
}
.dropdown-content {
  width: 150px;
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  font-family: "poppins";
  color: #38ADA9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


@media (max-width: 900px) {
  .menu .menu-desk{
    display: none;
  }
  .dropdown button{
    display: block;
    outline: none;
  }
  .header2{
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .dropdown-content #toblack:hover {background-color: #38ADA9;color: white;}
  .dropdown button:focus +.dropdown-content{display: block;}
}
footer{
    background-color: #FAFAFA;
}
#icon-footer{
  font-size: 20px;
  margin-left: 0;
  margin-top: 12px;
}
footer .foot{
  font-weight: 200;
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .foot a{
  color: black;
}
.foot .one{
  width: 350px;
}
.foot .clean h2{
  margin: 15px 5px;
}
.foot .clean li{
  margin: 10px;
}
.foot span{
  font-weight: 500;
}
.Copyright{
  margin-top: 60px;
}
.fab{
  color: #38ADA9;
  font-size: 20px;
}
